*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
:root{
    --main-orange:#ffbe33;
    --hover-color:#e69c00;
    --dark-blue:#222831;
}
p,span,li,h4,h5,h6,button{
    font-family: "Open Sans", sans-serif;
}
h1,h2,h3,.navbar-brand{
    font-family: "Dancing Script", cursive;
}
.main-section{
background-image: url(../images/hero-bg\ \(1\).jpg);  
  background-position: center;
    background-size: cover;
}

.btn-orange{
    background-color: var(--main-orange);
    transition: background-color 0.7s;
}
.nav-link.active
{
    color: var(--main-orange) !important;
}
.btn-orange:hover{
    background-color: var(--hover-color);
}
.nav-link:hover , i:hover{
    color: var(--hover-color) !important;
}
.carousel-item{
   height:fit-content !important;
  
}
.carousel-indicators{
   margin-left: 0px !important;
   margin-bottom: 0px !important;
 position: static !important;
}
.carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    margin-left: 0.5rem !important;
}
.carousel-indicators button.active{
    transform: scale(2) !important;
    border-radius: 50%;
    background-color: var(--hover-color);   
}
.box {
    width: 100px;
    height: 100px;
    /* border-radius: 50%;
    border: 3px solid var(--main-orange); */
}
.box img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid var(--main-orange);
}

.nav-pills .nav-link.active{
    background-color: var(--dark-blue) !important;
    color: whitesmoke !important;
}
.nav-pills .nav-link{
    color: var(--dark-blue) !important;
}
.card-nav-image{
    border-bottom-left-radius: 2rem;
}

.card-offer{
    background-color: #222831;
    flex-direction: column; 
         align-items: center;
        text-align: center;
        padding: 10px 15px;
        margin-top: 10px; 
}
        
        

   .card-offer h2{
    /* color: azure; */
  font-size: 1.5rem;  
    font-weight: bold;
     font-family: 'Dancing Script', cursive;  
   }

   .circle{
   display: flex;
      justify-content: center;
      align-items: center;
margin-bottom: 15px; 

 }
  .circle img{
    width: 140px;
      height: 140px;
      object-fit: cover;
      border-radius: 50%;
      border: 5px solid #f5b301;

 }
 
 /* .small{
    color: azure;
    
 } */
 i{
    color: aliceblue;
 } 
  
 /* .card-offer .circle img {
  width: 80px;
  height: 80px;
  object-fit: cover; 
  border-radius: 50%; 
 
} */

.card-offer h2{
  margin: 0;
  font-size: 20px;
  color: aliceblue;
}

.card-offer .small{
  font-size: 14px;
  margin-bottom: 8px;
  color: aliceblue;
}

.container h2{
   position: relative;
   text-align: center;
   margin-bottom: 40px;
   margin-top: 40px;
}

/* .container ul li{
    position: relative;
    text-wrap: wrap;
   justify-content: center;
   margin-bottom: 40px;
   margin-top: 40px;
} */
 
 
 /* .card-body .btn-orange{
    width: 40px;
    height: 40px;
    border-radius: 100%;
 } */

 .circle-1{
    width: 50px;
    height: 50px;
    background-color: #f5b301;
    color: white;
    border-radius: 50%;

 }
 .card{
    background-color: #222831;
 }
 .card-nav-image{
    background-color: #f1f2f3;
 }
 .container-flude h3{
    color: white;
 }
 .container-flude p{
    color: white;
 }
 
 .maps{
    display: flex;
    justify-content:right;
    position: relative;
    margin-top: -380px;
    width: 100%;
 }
 .from-action h4{
margin-bottom: 20px;
 }
 
 .content-3{
    color: white;
    font-size: 15px;
    margin-bottom:10px;
    
 }
 .footer-left i{
    color: white;
    font-size: 15px;
 }
 footer{
    padding: 100px;
 }
 span{
    color: aliceblue;
 }
 .footer-info a{
color: #f1f2f3;
 }

 .footer-info{
    margin-left: 450px;
 }
 .footer-logo{
    margin-left: 150px;
 }